.login{
    align-items: center;
    text-align: center;
    margin-top: 100px;
}
.login-form{
    width: 400px;
    height:250px;
    border: 2px solid #000000;
    border-radius: 5px;
    padding: 20px;
    margin: 0 auto;
}
.login-name{
    font-weight: bolder;
    margin: 10px;
    font-size: 20px;
}
.username{
    margin: 30px;
    width: 200px;
}
.btn{
    margin: 20px;
}